.buttons {
    display: flex;
    align-items: center;
    gap: 30px;
    &_gap40px {
        gap: 40px;
    }
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-width: 128px;
    height: 48px;
    padding: 0 30px;
    border: 1px solid #EC994B;
    border-radius: 41px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.01em;
    background: #FFFFFF;
    color: #EC994B;
    transform: 0.5s all;
    &:hover {
        box-shadow: 2px 4px 10px #EC994B;
    }
    &_yellow {
        background: #EC994B;
        color: #FFFFFF;
    }
}
