.carousel {
    &__lg {
        transform: scale(1);
        z-index: 10; 
    }
    &__m-left {
        transform: scale(.75) translateX(50%);
        z-index: 4;
    }
    &__m-right {
        transform: scale(.75) translateX(-50%);
        z-index: 4;
    }
    &__s-left {
        transform: scale(.6) translateX(150%);
        z-index: 3;
    }
    &__s-right {
        transform: scale(.6) translateX(-150%);
        z-index: 3;
    }
    &__xs-left {
        transform: scale(.43) translateX(350%);
        z-index: 2;     
    }
    &__xs-right {
        transform: scale(.43) translateX(-350%);
        z-index: 2;   
    }
    
}
