.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 120px;
    padding: 40px 0 32px 0;
    background-color: #F5F5F5;
    z-index: 10;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }
    &__logotype {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0.01em;
        color: #EC994B;
    }
    &__menu {
        flex: 1 1 auto;
        padding-right: 28px;
    }
    &__shopping {
        flex: 0 0 48px;
    }
    &__buttons {
        max-width: 286px;
    }
    .hamburger {
        flex: 0 0 30px;
    }
}