@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-Regular.ttf) format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-Bold.ttf) format("woff2");
    font-weight: 700;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Regular.ttf) format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Medium.ttf) format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-SemiBold.ttf) format("woff2");
    font-weight: 600;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Bold.ttf) format("woff2");
    font-weight: 700;
}

@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Regular.ttf) format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Medium.ttf) format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-SemiBold.ttf) format("woff2");
    font-weight: 600;
}

@font-face {
    font-family: "Quicksand";
    src: url(../fonts/Quicksand-Regular.ttf) format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Quicksand";
    src: url(../fonts/Quicksand-Bold.ttf) format("woff2");
    font-weight: 700;
}